<div class="container">
  <div class="product-details row">
    <div class="col-12 col-sm-12 col-md-6">
      <div class="product-details__img">
        <img src="https://m.xcite.com/media/catalog/product/cache/1/thumbnail/550x400/9df78eab33525d08d6e5fb8d27136e95/h/u/huawei_y9_2019_phone_-_blue_specs.jpg">
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-6">
      <h1 class="product-details__title" >Title</h1>
      <h3 class="product-details__subtitle">Subtitle</h3>
      <div class="product-details__price">
        <h5>Price: 300
          <span class="badge badge-secondary">-23%</span>
        </h5>
      </div>
      <div class="product-details__subprice">
        <h5>Subprice: 700</h5>
      </div>
      <div class="product-details__desc">
        <p>
            Phasellus sed lacus vel est cursus tincidunt. Pellentesque blandit nec velit quis luctus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla facilisi. Pellentesque eu nulla ultricies, semper diam in, faucibus mi. Pellentesque fermentum, felis nec laoreet tempus, ex leo auctor metus, non semper mi quam et ante. Suspendisse tincidunt orci a fringilla tincidunt. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
        </p>
        <p>
            Curabitur dapibus fringilla ligula sit amet ornare. Nulla volutpat dapibus justo, eget fermentum leo dictum sed. Aliquam pellentesque velit a felis mattis viverra. Nullam auctor consectetur elit, non euismod libero scelerisque a. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aenean semper velit eget sem commodo, sit amet vulputate ligula commodo. Maecenas dictum dui velit, ultricies vehicula nunc ornare ac. Morbi luctus luctus elementum. Mauris non lorem et urna gravida commodo at sed lorem. Curabitur quis quam elementum, molestie est in, scelerisque orci.        
        </p>
      </div>
      <div class="product-details__buy">
          <button type="button" class="btn btn-success">Buy now</button>
      </div>
    </div>
  </div>
</div>